<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="icon" href="/assets/favicon.svg" />
    <link rel="stylesheet" href="/assets/css/wiki.css">
    <link rel="stylesheet" href="/assets/css/mc-font.css">
  </head>
  <body class="mc-gray">
    <div class="nav-bar">
      <div class="nav-links">
        <p>{{ site.data.sidebar.title }}</p>
        <a href="/wiki">{{ site.data.sidebar.sections.introduction }}</a>
      </div>
      <div class="nav-langs">
        {% include language_switcher.html %}
      </div>
    </div>
    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
