<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="icon" href="./assets/favicon.svg" />
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/mc-font.css">
  </head>
  <body class="mc mc-gray">
    <div class="nav-bar">
      <p>WIP: Навигация</p>
      <br/>
      <p>Сайт на стадии очень ранней разработки :)</p>
      <p>Когда-нибудь он будет сносно выглядеть и здесь будет полезный контент.</p>
      <p>А пока можете сами ознакомиться со всем на сервере! ^^</p>
    </div>
    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
